.board {
    background: steelblue;
    height: 100vh;
    width: 100%;
    @include flexbox;
    @include align-items( flex-start);
    overflow-x: auto;

    .user-list {
        background-color: silver;
        border-radius: 5px;
        min-width: 300px;
        margin: 10px;
        padding: 10px; 
        position: relative;
        
    }

    .user-list__head {
        padding-bottom: 10px;

        h2 {
            font-size: 1.1rem;
            margin: 0;
        }
    }

    .user-list__card {
        background-color: #f0f0f0;
        border-radius: 5px;
        font-size: .9rem;
        margin-bottom: 8px;
        width: 100%;
        overflow: hidden;
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);

        span {
            color: silver;
            width: 70px;
        }
        
        &.isClicked {
            
        }

        input {
            
            background-color: transparent;
            border: none; 
            border-radius: 5px;
            padding: 5px;
            width: 100%;
            
            &:focus {
                outline: none;
                border: 1px solid steelblue;
            }
        }
    }

    .user-list__button {
        color: inherit;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: .8rem;
    }

    .user-list__button--underline {
        text-decoration: underline;
    }

    .user-list__button--primary {
        color: white;
        cursor: pointer;
        display: block;
        margin-top: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: rgb(28, 172, 93);
    }
}

.addNewCardForm {
    width: 200px;
    &.hidden {
        display: none;
    }
}

